<footer class="page-footer font-small blue text-light">
  <div class="container">
    <div class="row">
      <div class="col-12 mt-2">
        <div class="list-unstyled text-small">
          <h5>Atendimento Orange Bank</h5>
          <p>Capitais e Regiões Metropolitanas: 5999-9999 </p>
          <p>Demais Regiões: 0800 599 9999</p>
        </div>
      </div>

      <div class="col-12 mt-2">
        <ul class="list-unstyled text-small">
          <h5>Fale Conosco</h5>
          <h6>SAC Orange Bank</h6>
          <li>0800 959 9999</li>
        </ul>
      </div>
      <div class="col-12 mt-2">
        <ul class="list-unstyled text-small">
          <h6>Ouvidoria</h6>
          <li>0800 559 5599</li>
        </ul>
      </div>

    </div>
  </div>
  <div class="footer-copyright text-center py-3">Banco Orange Bank © 2018 Copyright
    <!-- <a class='link-footer' href="https://orangebank.com.br"> orangebank.com.br</a> -->
  </div>
</footer>