.page-footer{
    background-color:rgb(233, 121, 17);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
                0 5px 10px 0 rgba(0,0,0,.05);
    } 
 .link-footer{
  color: white;   
 }   

 @media (min-width: 360px) and (max-width: 376px) 
{
    .page-footer{
    font-size: 15px; 
  }  
  h5{
   font-size: 20px;   
  }
}
