.container-form-transferencia{
 display: flex;
 justify-content:center;  
 align-items: center; 
 
 height: 500px;
 /* width: 500px;    */
}

.salvar-contato,.transferencia {
font-weight: bold;  
color: gray;  
}


.cadastrados, 
.outras-contas,
.instituição,
.agencia,
.conta{
border: none;
border-bottom: 2px solid #E97911;
color: gray; 
background-color: #F8F8F6;    
}

.conta{
 width: 120px;   
}
.button-continuar-transferencia{
background-color:#E97911; 
color: white;
border-radius: 4px;  
font-weight: bold;
width: 300px;
padding: 5px;
}

