<form #f="ngForm" (ngSubmit)="salvarTransferencia(f)">
  <div class=" row container-form-transferencia">
    <div class="col-1 col-md-1 col-sm-1"></div>
    <div class="col-10 col-md-10 col-sm-10 ">
      <div class="row">
        <div class=" col-12 col-md-12 col-sm-12 d-flex justify-content-center mt-5 mb-4">
          <h3 class="transferencia">TRANSFERÊNCIAS</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-sm-12 mb-3 d-flex justify-content-between">
          <button class="cadastrados">Cadastrados</button>
          <button class="outras-contas">Outras contas</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-sm-12 mb-3 d-flex justify-content-between">
          <input for="instituicao" class='instituição' type="text" placeholder="instituição" name="instituicao" [(ngModel)]="transacao.instituicao">
          <select name="tipo_transacao" [(ngModel)]="transacao.tipoTransacao">
            <option value="TED">TED p/mesma titularidade</option>
            <option value="DOC">DOC p/mesma titularidade</option>
            <option value="TED">TED titularidade diferente</option>
            <option value="DOC">DOC titularidade diferente</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-sm-12 mb-3 d-flex justify-content-between">
          <input class='agencia' type="text" placeholder="agência" name="agencia" [(ngModel)]="transacao.agencia">
          <input class='conta' type="text" placeholder="Conta - digito" name="conta" [(ngModel)]="transacao.conta">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-sm-12 mb-3 d-flex justify-content-start">
          <input class='valor-transferencia' type="text" placeholder="Valor a ser transferido" name="valor" [(ngModel)]="transacao.valor">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-sm-12 mb-3 d-flex justify-content-start">
          <input class='identificao-transferencia' type="text" placeholder="Identificação da transferência" name="identificacao" [(ngModel)]="transacao.identificacao">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-sm-12 mb-3 d-flex justify-content-start">
          <input class="mr-2" type="radio" name="transf-hoje" value="transf-hoje" checked  name="data" [(ngModel)]="transacao.data"> Tranferir hoje<br>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-sm-12 mb-3 d-flex justify-content-start">
          <input class="mr-2" type="radio" name="agendar-transf" value="agendar-transf"> Agendar transferência
          p/
          <input class=" input-data ml-2" type="text" name="" placeholder="dd/mm/aaaa"> <br>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-sm-12 mb-3 d-flex justify-content-start">
          <p><input id="repetir_transf" class="mr-2" type="checkbox" name="salvar-conta" name="repetirTransacao" [(ngModel)]="transacao.repetirTransacao">Deseja que esta transferência se repita
            automaticamente nos próximos meses?</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-sm-12 d-flex justify-content-start">
          <p class="salvar-contato">Salvar contato <input id="salvar_contato" type="checkbox" name="salvar-contato"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-sm-12 d-flex justify-content-center">
          <button class="button-continuar-transferencia" (click)="salvarTransferencia()">Continuar</button>
        </div>
      </div>
    </div>
    <div class="col-1 col-md-1 col-sm-1"></div>
  </div>
</form>