.container-form-transferencia{
height: 492px;
}

.salvar-contato,.transferencia {
font-weight: bold;  
}

.instituição,
.agencia,
.conta,
.identificao-transferencia,
.valor-transferencia,
.nr-doc,
.input-data {
border: none;
border-bottom: 2px solid gray;
border-right: 2px solid  gray;
border-left: 2px solid  gray;
color: gray; 
background-color: #F8F8F6;    
}

.instituição{
width: 180px;
}

.conta, .agencia{
 width: 120px;     
}

.button-continuar-transferencia{
background-color:#E97911; 
color: white;
border-radius: 4px;  
font-weight: bold;
width: 300px;
padding: 5px;
}

.input-data{
width: 100px;    
}
.cadastrados, .outras-contas{
background-color:gray; 
color: white;
border-radius: 4px;  
font-weight: bold;
padding: 5px;
}

.identificao-transferencia{
width: 240px;    
}