<div class="cards row">
  <div class="cards-1 col-12 col-sm-6 col-md-4">
    <div class="saldo">
      <button class="btn btn-light" (click)='mostrarSaldo()' (click)='ocultarImgsSaldo()'>{{showSaldo ? "OCULTAR" :"VER
        SALDO"}}</button>
      <div class="mostrar-saldo col-12 col-sm-6 col-md-4" *ngIf=showSaldo>teste</div>
      <div class="d-flex justify-content-center mt-4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkcUZNJBjUChB6TW46S37wOjyMABoZzCXAFDxb_akgKqVNfnJYKg"
          style="height:100px" alt="" *ngIf=ocultarImgSaldo>
      </div>
    </div>

  </div>
  <div class="cards-2 col-12 col-sm-6 col-md-4">
    <div class="extrato">
      <button class="btn btn-light" (click)='mostrarExtrato()' (click)='ocultarImgExtrato()'>{{showExtrato ? "OCULTAR"
        :"VER EXTRATO"}}</button>
      <div class="mostrar-extrato" *ngIf=showExtrato>

        <div class="button-extrato d-flex justify-content-center">
          <button class="mr-1">10 DIAS</button>
          <button class="mr-1">20 DIAS</button>
          <button class="mr-1">OUTROS</button>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <img src="https://png.pngtree.com/svg/20160912/statement_of_settlement_717840.png" style="height:80px" alt=""
          *ngIf=showOcultarExtrato>
      </div>
    </div>
  </div>
  <div class="cards-3 col-12 col-sm-6 col-md-4">
    <div class="transferencia">
      <button class="btn btn-light" (click)='mostrarTransferencia()' (click)='ocultaImgTransferencia()'>{{showTranferencia
        ? "OCULTAR" :"VER
        TRANSFERÊNCIA"}}</button>
      <div class="mostrar-transferencia" *ngIf=showTranferencia>
        <a [routerLink]="['/transferencia']"> <button class="fazer-transferência">FAZER TRANSFERÊNCIA</button></a>
        <p>teste</p>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQx5oQlU2EvZQuUYuheKPgbpqNC5j4KhTgrQWg1f8AUBOHRkYp_"
          style="height:100px" alt="" *ngIf=showOcultaImgTranferencia></div>

    </div>
  </div>

  <div class="cards-4 col-12 col-sm-6 col-md-4">
    <div class="emprestimos">
      <button class="btn btn-light" (click)='mostrarEmprestimo()' (click)=ocultarImgEmprestimo()>{{showEmprestimo ?
        "OCULTAR" :"VER
        EMPRESTIMOS"}}</button>
      <div class="mostrar-emprestimo" *ngIf=showEmprestimo></div>
      <div class="d-flex justify-content-center mt-5">
        <img src="https://dumielauxepices.net/sites/default/files/money-clipart-book-689278-5562946.png" style="height:80px"
          alt="" *ngIf=showOcultarImgEmprestimo></div>
    </div>
  </div>
  <div class="cards-5 col-12 col-sm-6 col-md-4">
    <div class="poupanca">
      <button class="btn btn-light" (click)='mostrarPoupanca()' (click)='ocultarImgPoupanca()'>{{showPoupanca ?
        "OCULTAR" :"POUPANÇA"}}</button>
      <div class="mostrar-poupanca" *ngIf=showPoupanca></div>
      <div class="d-flex justify-content-center mt-4">
        <img src="https://img.clipartxtras.com/6fb940faca17aff7e17b372c702eb771_saving-money-clipart-black-and-white-clipartxtras-saving-money-clipart-black-and-white_588-599.png"
          style="height:100px" alt="" *ngIf=showOcultarImgPoupanca></div>
    </div>
  </div>
  <div class="cards-6 col-12 col-sm-6 col-md-4">
    <div class="investimentos">
      <button class="btn btn-light" (click)='mostrarInvestimento()' (click)='ocultarImagInvestimento()'>{{showInvestimento
        ? "OCULTAR" :"VER
        INVESTIMENTOS"}}</button>
      <div class="mostrar-investimentos" *ngIf=showInvestimento> casa Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Aperiam, laudantium reprehenderit aliquam odio praesentium incidunt ex dolorum autem dolore
        sint? Debitis quis fugit odit excepturi saepe, officia aut aliquam explicabo. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Molestiae temporibus, quas eligendi, at rem cumque dicta non officia magni optio
        perspiciatis laudantium ipsum libero sint error voluptates rerum assumenda excepturi?</div>
      <div class="d-flex justify-content-center mt-5">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMOFXpVLzECgN-kCfhfGJsWs-g8B6ldnws2T6I2G5uRvfC7valUQ"
          style="height:89px" alt="" *ngIf=showOcultarInvestimento>
      </div>
    </div>
  </div>
</div>