<div class="containar-login row">
  <img class="img-login col-12 col-md-12 col-sm-12 " [src]="url" [alt]="title" class="img-login">
  <div class="row">
    <p class="col-12 col-md-12 col-sm-1">LOGIN</p>
  </div>
  <div class="row">
    <input class=" input-login-text col-12 col-md-12 col-sm-12" type="email" placeholder="E-MAIL">
  </div>
  <div class="row">
    <input class=" input-login-password col-12 col-md-12 col-sm-12" type="password" placeholder="PASSWORD">
  </div>
  <a [routerLink]="['/home']"><button class="button-login">ACESSAR</button></a>
</div>